<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>VoteNow Deep Links</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>votenow</string>
			</array>
		</dict>
	</array>
	<key>STRIPE_PUBLISHABLE_KEY</key>
	<string>pk_test_51T8Yi1Ek0rWAoZA5BLUzJkeEY1mFQfQ2VOWvuk7QzDasZjeQFWn8G6FHnk8AZwih92UDtqShZig7tjWgPw1tORgt00wTE0GedO</string>
	<key>APPLE_PAY_MERCHANT_ID</key>
	<string>merchant.org.votenow</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_q3zkLzVytOBy0_f7AdKfvg_6yiatDpN</string>
	<key>SUPABASE_URL</key>
	<string>https://zgqphgcqfxsgviofsccs.supabase.co</string>
	<key>CIVIC_API_BASE_URL</key>
	<string>https://votenow-botr.onrender.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
