PLAID_ENV=sandbox
PLAID_CLIENT_ID=your_sandbox_client_id
PLAID_SECRET=your_sandbox_secret

UTILITYAPI_ENV=sandbox
UTILITYAPI_TOKEN=your_sandbox_token

ARGYLE_ENV=sandbox
ARGYLE_API_KEY=your_sandbox_key
ARGYLE_API_SECRET=your_sandbox_secret

USPS_USER_ID=your_usps_userid
